<header class="title">
    <img src="images/logo.png" alt="" class="logo">
    <h1 class="frase">{{frase}}</h1>
    <a href="index" title="Da click para ir al menu"><img src="images/casa.png" alt="" class="casa"></a>
</header>