<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Dato Interesante</div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{dato}}</p>
    </div>
</div>