<nav class="navegacion">
    <ul class="menu">

        <li class="first-item">
            <a href="/">
                <img src="images/home.jpg" alt="" class="imagen">
                <span class="text-item">Inicio</span>
                <span class="down-item"></span>
            </a>
        </li>

        <li>
            <a href="/vanGogh" target="_blank">
                <img src="images/vincent.jpg" alt="" class="imagen">
                <span class="text-item">Vincent van Gogh</span>
                <span class="down-item"></span>
            </a>
        </li>



        <li>
            <a href="/Picasso" target="_blank">
                <img src="images/picasso.jpg" alt="" class="imagen">
                <span class="text-item">Pablo Picasso</span>
                <span class="down-item"></span>
            </a>
        </li>

        <li>
            <a href="/Vinci" target="_blank">
                <img src="images/leonardo.jpg" alt="" class="imagen">
                <span class="text-item">Leonardo da Vinci</span>
                <span class="down-item"></span>
            </a>
        </li>
        <li>
            <a href="/dali" target="_blank">
                <img src="images/salvador.jpg" alt="" class="imagen">
                <span class="text-item">Salvador Dalí</span>
                <span class="down-item"></span>
            </a>
        </li>
        <li>
            <a href="/Velazquez" target="_blank">
                <img src="imagez/diego.jpg" alt="" class="imagen">
                <span class="text-item">Diego Velazquez</span>
                <span class="down-item"></span>
            </a>
        </li>


        <li>
            <a href="/Acerca" target="_blank">
                <img src="images/web.jpg" alt="" class="imagen">
                <span class="text-item">Acerca</span>
                <span class="down-item"></span>
            </a>
        </li>

        <li>
            <a href="mailto:sarasotochavarria9@gmail.com" target="_blank">
                <img src="images/contacto.jpg" alt="" class="imagen">
                <span class="text-item">Contacto</span>
                <span class="down-item"></span>
            </a>
        </li>


    </ul>
</nav>