<nav aria-label="...">
    <ul class="pagination pagination-lg">
        <li class="page-item active" aria-current="page">
      <span class="page-link">
        1
        <span class="sr-only">(current)</span>
      </span>
        </li>
        <li class="page-item"><a class="page-link" href="/vanGogh">2</a></li>
        <li class="page-item"><a class="page-link" href="/Picasso">3</a></li>
        <li class="page-item"><a class="page-link" href="/Vinci">4</a></li>
        <li class="page-item"><a class="page-link" href="/Dali">5</a></li>
        <li class="page-item"><a class="page-link" href="/Velazquez">7</a></li>
        <li class="page-item"><a class="page-link" href="/Acerca">8</a></li>
    </ul>
</nav>