{{>header}}


<section class="title">
    <img src="images/logo.png" alt="" class="logo">
    <h1>FAMOUS ART</h1>
</section>

{{>nav}}
<div id="contenedor">
    <div id="contenedor-imagen">
        <img src="images/acuarelas.png" alt="" class="imagenes1" >

    </div>
</div>
<div id="contenedor1">
    <div id="contenedor-imagen1">
        <img src="images/pincel.png" alt="" class="imagenes2">
    </div>
</div>


</div>

</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<script src="scripts/funciones.js" ></script>

{{>footer}}